# Ambientes virtuais
venv/
.env
*.env


# Cache e compilação do Python
scraper/__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Dados gerados
files/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

database/